
body {

text-align: center;

}

h1 {
  font-size: 90px;
  font-weight: 400;
  padding-left: 20px;
  color: floralwhite;
}

h2 {
  padding-left: 20px;
  color: orangered;
  font-weight: 700;
}

h3 {
  font-family: Lucida Console;
  font-size: 30px;
  margin: 5px auto;
  padding-left: 20px;
  color: floralwhite;
}

h4 {
  font-family: Lucida Console;
  font-size: 23px;
  margin: 5px auto;
  color: floralwhite;
  text-align: center;
}

h5 {
  font-size: 30px;
  padding-left: 20px;
  color: floralwhite;
}

p {
  font-family: 'Courier New', monospace;
  font-size: 24px;
  margin: 5px auto;
  color: floralwhite;
}

body, html {
  height: 100%;
}

.bg {

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

img{
  display: block;
/*  margin-right: auto ;
  margin-left: auto;*/
  margin: 50px auto;
}


#leftp{
  text-align: left;
}